{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "babel-plugin-dev-expression",
        "transform-react-inline-elements",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.test.js", "verbose": false }]
      ]
    }
  }
}
