@import '../../app.config.scss';

.list {
  margin: 50px 200px 70px 70px;

  h4 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  ul {
    li {
      margin-bottom: 25px;

      .inner {
        display: flex;
        height: 42px;

        a {
          height: 40px;
          width: 40px;

          i {
            position: absolute;
            padding: 12px 12.9px;
          }
        }

        .active {
          background-color: $scColor;
          border-radius: 50%;
        }

        .details {
          margin-left: 10px;
        }
      }
    }
  }
}
