@import 'app.config.scss';
@import 'app.reset.scss';

body {
  background-color: $bodyBackground;
  color: $defaultColor;

  a {
    color: $linkColor;
    text-decoration: none;

    &:hover {
      color: $linkColor;
      cursor: pointer;
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}
