$bodyBackground: #121314;
$defaultColor: #FFF;
$linkColor: #FFF;
$scColor: #f50;
$sectionBackground: #222326;
$separatorDarkColor: #000;
$transitionValue: all 0.5s ease;
$transitionFastValue: all 0.25s ease;
$transitionInstantValue: all 0.1s ease-out;
